In [52]:
import pandas as pd

path_a = r"C:\Users\okkam\Desktop\labo\article 2\calcul_declin_Arsenii_251203.xlsx"
path_b = r"C:\Users\okkam\Desktop\labo\article 2\Moca_Arsenii_251203.xlsx"


Moca = pd.read_excel(path_a) # 
Moca_long= pd.read_excel(path_b) # longformat

In [53]:
Moca

,Unnamed: 0,ID,PSCID,CandID,Unnamed: 4,Initiale,suivi-2ans,suivi-4ans,suivi-6ans,suivi-8ans,...,suivi-4ans.1,suivi-6ans.1,suivi-8ans.1,suivi-10ans.1,Initiale.2,suivi-2ans.2,suivi-4ans.2,suivi-6ans.2,suivi-8ans.2,suivi-10ans.2
0,3002498_327986,3002498_327986,3002498,327986,F,68.3,70.6,72.6,74.6,76.5,...,30.0,29.0,28.0,NaN,30.0,27.0,30.0,29.0,28.0,NaN
1,3025432_658178,3025432_658178,3025432,658178,F,69.2,71.6,73.2,75.4,NaN,...,27.0,29.0,NaN,NaN,29.0,30.0,28.0,30.0,NaN,NaN
2,3100205_255881,3100205_255881,3100205,255881,H,69.6,72.0,73.6,NaN,NaN,...,25.0,NaN,NaN,NaN,26.0,27.0,26.0,NaN,NaN,NaN
3,3123186_920577,3123186_920577,3123186,920577,F,69.4,71.7,73.6,75.5,NaN,...,28.0,29.0,NaN,NaN,28.0,27.0,28.0,29.0,NaN,NaN
4,3149469_790489,3149469_790489,3149469,790489,H,66.0,68.0,70.2,NaN,NaN,...,27.0,NaN,NaN,NaN,27.0,27.0,27.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,9009454_858799,9009454_858799,9009454,858799,F,76.9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN
103,9234862_423593,9234862_423593,9234862,423593,H,76.5,79.1,80.8,82.3,NaN,...,23.0,26.0,NaN,NaN,30.0,26.0,23.0,26.0,NaN,NaN
104,9239354_537666,9239354_537666,9239354,537666,H,80.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN
105,9270946_891932,9270946_891932,9270946,891932,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,9889496_847696,9889496_847696,9889496,847696,F,66.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN

In [54]:
Moca_long

,uid,age,timepoint,id_participant,evaluation,date_evaluation,moca_scolarite_12_annees_ou_moins_1,moca_score_total_30,moca_score_total_plus_scolarite_30
0,3002498_clinique_t00,68.3,t00,3002498,clinique,42023,0,30,30
1,3002498_clinique_t02,70.6,t02,3002498,clinique,42870,0,27,27
2,3002498_clinique_t04,72.6,t04,3002498,clinique,43584,0,30,30
3,3002498_clinique_t06,74.6,t06,3002498,clinique,44341,0,29,29
4,3002498_clinique_t08,76.5,t08,3002498,clinique,45029,0,28,28
...,...,...,...,...,...,...,...,...,...
993,9889496_clinique_t00,66.7,t00,9889496,clinique,45082,0,28,28
994,9928452_clinique_t00,76.1,t00,9928452,clinique,42375,1,18,19
995,9929164_clinique_t00,72.1,t00,9929164,clinique,42718,0,30,30
996,9929164_clinique_t04,76.5,t04,9929164,clinique,44313,0,28,28
997,9929164_clinique_t06,78.3,t06,9929164,clinique,44987,0,27,27

In [55]:
import pandas as pd

# Starting from your long df:
# Moca_long with columns:
# ['uid','age','timepoint','id_participant','evaluation',
#  'date_evaluation','moca_scolarite_12_annees_ou_moins_1',
#  'moca_score_total_30','moca_score_total_plus_scolarite_30']

# 1) Map timepoint codes to your labels
tp_map = {
    't00': 'Initiale',
    't02': 'suivi-2ans',
    't04': 'suivi-4ans',
    't06': 'suivi-6ans',
    't08': 'suivi-8ans',
    't10': 'suivi-10ans',  # in case you have t10
}

moca_tmp = Moca_long.copy()
moca_tmp['tp_label'] = moca_tmp['timepoint'].map(tp_map)

# 2) Pivot: age + MOCA scores by id_participant × tp_label
moca_wide = (
    moca_tmp
    .pivot_table(
        index='id_participant',
        columns='tp_label',
        values=['age',
                'moca_score_total_30',
                'moca_score_total_plus_scolarite_30']
    )
)

# 3) Flatten the MultiIndex columns: (variable, timepoint) -> 'variable_timepoint'
moca_wide.columns = [f'{var}_{tp}' for var, tp in moca_wide.columns]

# 4) Put id_participant back as a column
moca_wide = moca_wide.reset_index()

In [62]:
moca_wide
moca_wide.to_csv(r"c:\Users\okkam\Desktop\labo\article 2\Moca\moca_wide.csv", 
                 index=False)

moca_wide

,id_participant,age_Initiale,age_suivi-10ans,age_suivi-2ans,age_suivi-4ans,age_suivi-6ans,age_suivi-8ans,moca_score_total_30_Initiale,moca_score_total_30_suivi-10ans,moca_score_total_30_suivi-2ans,moca_score_total_30_suivi-4ans,moca_score_total_30_suivi-6ans,moca_score_total_30_suivi-8ans,moca_score_total_plus_scolarite_30_Initiale,moca_score_total_plus_scolarite_30_suivi-10ans,moca_score_total_plus_scolarite_30_suivi-2ans,moca_score_total_plus_scolarite_30_suivi-4ans,moca_score_total_plus_scolarite_30_suivi-6ans,moca_score_total_plus_scolarite_30_suivi-8ans
0,3002498,68.3,78.5,70.6,72.6,74.6,76.5,30.0,28.0,27.0,30.0,29.0,28.0,30.0,28.0,27.0,30.0,29.0,28.0
1,3004865,69.1,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN
2,3014036,72.6,NaN,74.7,77.0,79.3,NaN,26.0,NaN,24.0,26.0,27.0,NaN,26.0,NaN,25.0,27.0,28.0,NaN
3,3025432,69.2,NaN,71.6,73.2,75.4,77.6,28.0,NaN,29.0,27.0,29.0,27.0,29.0,NaN,30.0,28.0,30.0,28.0
4,3029434,73.5,NaN,75.5,77.4,NaN,NaN,22.0,NaN,23.0,22.0,NaN,NaN,22.0,NaN,23.0,22.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,9571095,81.4,NaN,83.6,85.8,87.4,89.1,29.0,NaN,28.0,27.0,26.0,27.0,29.0,NaN,28.0,27.0,26.0,27.0
418,9648306,82.1,NaN,NaN,86.5,NaN,NaN,23.0,NaN,NaN,17.0,NaN,NaN,23.0,NaN,NaN,17.0,NaN,NaN
419,9889496,66.7,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN
420,9928452,76.1,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN
421,9929164,72.1,NaN,NaN,76.5,78.3,NaN,30.0,NaN,NaN,28.0,27.0,NaN,30.0,NaN,NaN,28.0,27.0,NaN

In [64]:
ids_107 = Moca['PSCID'].unique()
moca_wide_filtered = moca_wide[moca_wide['id_participant'].isin(ids_107)]

In [67]:
moca_wide_filtered
moca_wide_filtered.to_csv(r"c:\Users\okkam\Desktop\labo\article 2\Moca\moca_wide_filtered.csv", 
                 index=False)

In [73]:
path_a = r"C:\Users\okkam\Desktop\labo\article 2\Moca\calcul_declin_Arsenii_251203.xlsx"
path_b = r"C:\Users\okkam\Desktop\labo\article 2\Moca\moca_wide_filtered.csv"


Moca = pd.read_excel(path_a) # 
moca_wide_filtered = pd.read_csv(path_b) # longformat

In [74]:
Moca

,Unnamed: 0,ID,PSCID,CandID,Unnamed: 4,Initiale,suivi-2ans,suivi-4ans,suivi-6ans,suivi-8ans,...,suivi-4ans.1,suivi-6ans.1,suivi-8ans.1,suivi-10ans.1,Initiale.2,suivi-2ans.2,suivi-4ans.2,suivi-6ans.2,suivi-8ans.2,suivi-10ans.2
0,3002498_327986,3002498_327986,3002498,327986,F,68.3,70.6,72.6,74.6,76.5,...,30.0,29.0,28.0,NaN,30.0,27.0,30.0,29.0,28.0,NaN
1,3025432_658178,3025432_658178,3025432,658178,F,69.2,71.6,73.2,75.4,NaN,...,27.0,29.0,NaN,NaN,29.0,30.0,28.0,30.0,NaN,NaN
2,3100205_255881,3100205_255881,3100205,255881,H,69.6,72.0,73.6,NaN,NaN,...,25.0,NaN,NaN,NaN,26.0,27.0,26.0,NaN,NaN,NaN
3,3123186_920577,3123186_920577,3123186,920577,F,69.4,71.7,73.6,75.5,NaN,...,28.0,29.0,NaN,NaN,28.0,27.0,28.0,29.0,NaN,NaN
4,3149469_790489,3149469_790489,3149469,790489,H,66.0,68.0,70.2,NaN,NaN,...,27.0,NaN,NaN,NaN,27.0,27.0,27.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,9009454_858799,9009454_858799,9009454,858799,F,76.9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN
102,9234862_423593,9234862_423593,9234862,423593,H,76.5,79.1,80.8,82.3,NaN,...,23.0,26.0,NaN,NaN,30.0,26.0,23.0,26.0,NaN,NaN
103,9239354_537666,9239354_537666,9239354,537666,H,80.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN
104,9270946_891932,9270946_891932,9270946,891932,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,9889496_847696,9889496_847696,9889496,847696,F,66.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN

In [75]:
moca_wide_filtered

,id_participant,age_Initiale,age_suivi-2ans,age_suivi-4ans,age_suivi-6ans,age_suivi-8ans,age_suivi-10ans,moca_score_total_30_Initiale,moca_score_total_30_suivi-2ans,moca_score_total_30_suivi-4ans,moca_score_total_30_suivi-6ans,moca_score_total_30_suivi-8ans,moca_score_total_30_suivi-10ans,moca_score_total_plus_scolarite_30_Initiale,moca_score_total_plus_scolarite_30_suivi-2ans,moca_score_total_plus_scolarite_30_suivi-4ans,moca_score_total_plus_scolarite_30_suivi-6ans,moca_score_total_plus_scolarite_30_suivi-8ans,moca_score_total_plus_scolarite_30_suivi-10ans
0,3002498,68.3,70.6,72.6,74.6,76.5,78.5,30,27.0,30.0,29.0,28.0,28.0,30,27.0,30.0,29.0,28.0,28.0
1,3025432,69.2,71.6,73.2,75.4,77.6,NaN,28,29.0,27.0,29.0,27.0,NaN,29,30.0,28.0,30.0,28.0,NaN
2,3100205,69.6,72.0,73.6,NaN,78.0,NaN,25,26.0,25.0,NaN,21.0,NaN,26,27.0,26.0,NaN,22.0,NaN
3,3123186,69.4,71.7,73.6,75.5,77.5,NaN,28,27.0,28.0,29.0,28.0,NaN,28,27.0,28.0,29.0,29.0,NaN
4,3149469,66.0,68.0,70.2,72.2,NaN,NaN,27,27.0,27.0,26.0,NaN,NaN,27,27.0,27.0,26.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,9009454,76.9,NaN,NaN,NaN,NaN,NaN,26,NaN,NaN,NaN,NaN,NaN,26,NaN,NaN,NaN,NaN,NaN
102,9234862,76.5,79.1,80.8,82.3,84.8,NaN,30,26.0,23.0,26.0,28.0,NaN,30,26.0,23.0,26.0,28.0,NaN
103,9239354,80.6,NaN,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,NaN
104,9270946,67.0,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN,NaN,NaN,NaN
105,9889496,66.7,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN,NaN,NaN,NaN

In [76]:
import pandas as pd
import numpy as np

# Make sure keys are same dtype
Moca['PSCID'] = Moca['PSCID'].astype(int)
moca_wide_filtered['id_participant'] = moca_wide_filtered['id_participant'].astype(int)

merged = (
    Moca
    .rename(columns={'PSCID': 'id_participant'})
    .merge(
        moca_wide_filtered,
        on='id_participant',
        how='outer',
        indicator=True,
        suffixes=('_moca', '_wide')
    )
)

# Who didn't join?
only_in_moca = merged.loc[merged['_merge'] == 'left_only', 'id_participant'].unique()
only_in_wide = merged.loc[merged['_merge'] == 'right_only', 'id_participant'].unique()

print("Participants only in original Moca:", only_in_moca)
print("Participants only in moca_wide_filtered:", only_in_wide)

Participants only in original Moca: []
Participants only in moca_wide_filtered: []

In [ ]:
import pandas as pd
import numpy as np

# ---- 1. Define column pairs to compare ----
pairs = {
    # Ages
    'age_Initiale':      ('Initiale',        'age_Initiale'),
    'age_suivi_2':       ('suivi-2ans',      'age_suivi-2ans'),
    'age_suivi_4':       ('suivi-4ans',      'age_suivi-4ans'),
    'age_suivi_6':       ('suivi-6ans',      'age_suivi-6ans'),
    'age_suivi_8':       ('suivi-8ans',      'age_suivi-8ans'),
    'age_suivi_10':      ('suivi-10ans',     'age_suivi-10ans'),

    # MoCA total
    'moca_total_Initiale': ('Initiale.1',    'moca_score_total_30_Initiale'),
    'moca_total_s2':       ('suivi-2ans.1',  'moca_score_total_30_suivi-2ans'),
    'moca_total_s4':       ('suivi-4ans.1',  'moca_score_total_30_suivi-4ans'),
    'moca_total_s6':       ('suivi-6ans.1',  'moca_score_total_30_suivi-6ans'),
    'moca_total_s8':       ('suivi-8ans.1',  'moca_score_total_30_suivi-8ans'),
    'moca_total_s10':      ('suivi-10ans.1', 'moca_score_total_30_suivi-10ans'),

    # MoCA + schooling
    'moca_plus_Initiale':  ('Initiale.2',    'moca_score_total_plus_scolarite_30_Initiale'),
    'moca_plus_s2':        ('suivi-2ans.2',  'moca_score_total_plus_scolarite_30_suivi-2ans'),
    'moca_plus_s4':        ('suivi-4ans.2',  'moca_score_total_plus_scolarite_30_suivi-4ans'),
    'moca_plus_s6':        ('suivi-6ans.2',  'moca_score_total_plus_scolarite_30_suivi-6ans'),
    'moca_plus_s8':        ('suivi-8ans.2',  'moca_score_total_plus_scolarite_30_suivi-8ans'),
    'moca_plus_s10':       ('suivi-10ans.2', 'moca_score_total_plus_scolarite_30_suivi-10ans'),
}

Saved: C:/Users/okkam/Desktop/labo/article 2/Moca/moca_comparison_with_flags.csv

In [83]:

# ---- 2. Compare values and detect ONLY mismatches ----
both_mask = merged['_merge'] == 'both'

mismatch_summaries = {}
mismatch_rows = {}   # optional: to inspect actual rows later

for name, (col_moca, col_wide) in pairs.items():
    if col_moca not in merged.columns or col_wide not in merged.columns:
        print(f"Skipping {name}: {col_moca} or {col_wide} not in merged")
        continue

    left  = pd.to_numeric(merged[col_moca], errors='coerce')
    right = pd.to_numeric(merged[col_wide], errors='coerce')

    # Only compare rows where both are non-NaN
    mask_diff = both_mask & left.notna() & right.notna() & (left != right)

    n_diff = int(mask_diff.sum())
    mismatch_summaries[name] = n_diff

    # Store detailed rows for this variable (optional)
    mismatch_rows[name] = merged.loc[mask_diff, ['id_participant', col_moca, col_wide]]

# ---- 3. Print a clean summary ----
print("Number of mismatches per variable (ignoring missing values):")
for name, n in mismatch_summaries.items():
    print(f"{name}: {n}")

# If you want a quick check: is everything identical?
any_mismatch = any(n > 0 for n in mismatch_summaries.values())
print("\nAny mismatches at all? ->", any_mismatch)

Number of mismatches per variable (ignoring missing values):
age_Initiale: 0
age_suivi_2: 0
age_suivi_4: 0
age_suivi_6: 0
age_suivi_8: 0
age_suivi_10: 0
moca_total_Initiale: 0
moca_total_s2: 0
moca_total_s4: 0
moca_total_s6: 0
moca_total_s8: 0
moca_total_s10: 0
moca_plus_Initiale: 0
moca_plus_s2: 0
moca_plus_s4: 0
moca_plus_s6: 0
moca_plus_s8: 0
moca_plus_s10: 0

Any mismatches at all? -> False

In [84]:
import pandas as pd
import numpy as np

# df_export: this is the 106-row table you want to see
df_export = moca_wide_filtered.copy()

both_mask = merged['_merge'] == 'both'

# Dict: for each wide-column, a boolean Series (index aligned with df_export)
new_flags = {col_wide: pd.Series(False, index=df_export.index) 
             for _, (_, col_wide) in pairs.items()}

for name, (col_moca, col_wide) in pairs.items():
    if col_moca not in merged.columns or col_wide not in merged.columns:
        continue

    left  = pd.to_numeric(merged[col_moca], errors='coerce')
    right = pd.to_numeric(merged[col_wide], errors='coerce')

    # New value = old Moca NaN, wide has a number
    mask_new = both_mask & left.isna() & right.notna()

    # Which participants have a new value for this variable?
    ids_with_new = merged.loc[mask_new, 'id_participant']

    # Mark those rows as True in the flags, aligned on df_export
    new_flags[col_wide][df_export['id_participant'].isin(ids_with_new)] = True

In [87]:
output_path = "C:/Users/okkam/Desktop/labo/article 2/Moca/moca_wide_with_new_values_bold.xlsx"

with pd.ExcelWriter(output_path, engine="xlsxwriter") as writer:
    # Write the plain table (no flags)
    df_export.to_excel(writer, index=False, sheet_name="Moca")

    workbook  = writer.book
    worksheet = writer.sheets["Moca"]

    bold_fmt = workbook.add_format({'bold': True})

    # For each column we track, overwrite ONLY the "new" cells in bold
    for col_wide, flags in new_flags.items():
        if col_wide not in df_export.columns:
            continue

        col_idx = df_export.columns.get_loc(col_wide)

        for row_idx, is_new in flags.items():
            if is_new:
                value = df_export.iloc[row_idx, col_idx]
                # +1 because row 0 in Excel is the header
                worksheet.write(row_idx + 1, col_idx, value, bold_fmt)

print("Saved:", output_path)

Saved: C:/Users/okkam/Desktop/labo/article 2/Moca/moca_wide_with_new_values_bold.xlsx